:root {
  --ff-base: font-family: "Inter", sans-serif;

  --font-size-h1: 4.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 2.5rem;
  --font-size-p: 1.5rem;
  --font-size-ul: 1.2rem;
  --font-size-a: 2rem;

  --purple-base: #8A2BE2;
  --margin-base: 3rem;


  /* Buttons */

  --bg-900: #000;
  --text-100: #fff;

  --purple-400: #A975FF;
  --purple-500: #9B5CFF;
  --purple-600: #8A2BE2;
  --purple-700: #6722D2;

  --shadow-purple: 0 12px 28px rgba(138, 43, 226, .35);
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);

  /* background: linear-gradient(250deg, #000 50%, #4c1d95 100%); */
}



*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* /* Barra de Rolagem - Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 3px solid rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 31, 37);
  box-shadow: 0 0 12px rgba(38, 35, 41, 0.534);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* Firefox */
html {
  overflow-x: hidden;
  scrollbar-width: thin;
}


/* Computador Acima de 1500px */
@media (min-width: 1500px) and (max-width: 2100px) {
  :root {
    --font-size-h1: 5.5rem;
    --font-size-p: 2.3rem;
  }

  body {
    background: linear-gradient(258deg, #000 60%, #4c1d95);

  }

  main .face-page {
    margin: 2rem;
  }

  section {
    margin-top: 2.5rem;
  }

  .about .container h1 {
    margin-top: 2rem;

  }

  .about .container p {
    margin-bottom: 5rem;
  }

  .lista-and-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


/* Dispositivos com 1280px aproximadamente  */
@media (min-width: 1024px) and (max-width: 1500px) {

  body {
    background: linear-gradient(258deg, #000 60%, #4c1d95);

  }

  main .face-page {
    margin: 2rem;
  }

  section .face-page {
    margin-top: 3.5rem;
  }


  .about .container p {
    margin-bottom: 4rem;
  }

  .about .img-principal {
    width: 390px;

  }


}

/* Mobile (até 768px)  */
@media (max-width: 768px) {
  :root {
    --font-size-h1: 2.3rem;
    --font-size-p: 1rem;
    --font-size-ul: .5rem;
    --font-size-a: 1.2rem;
  }

  body {
    /* background: linear-gradient(210deg, #000 0%, #44138d 50%, #540ebd 100%); */
  }

  /* MOBILE (até 768px) */
  @media (max-width: 768px) {

    .human-test {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-inline: 16px;
    }

    /* logo menor no mobile */
    header .logo svg,
    header .logo img {
      width: 200px;
      display: block;
    }

    header .lista-and-logo .flex {
      margin-top: 0;
    }

    header .lista {
      display: none;
    }

    .conect.btn {
      padding: .6rem 1rem;
      line-height: 1;
    }

    header .logo {
      display: flex;
      align-items: center;
      transform: scale(.7);

    }

    section {
      /*  margin section pag principal */
      margin: 1rem;
    }

    .container {
      text-align: center;
    }

    .about .container h1 {
      margin-top: 1rem;
      font-size: var(--font-size-h1);
    }

    .about .container p {
      font-size: var(--font-size-p);
      margin-bottom: 2rem;
    }

    .about .separator {
      height: 1px;
      max-width: 375px;
    }

    .img-principal {
      display: none;
    }
  }
}