/* DESKTOP (base) */
.lista-and-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .lista ul { 
  font-size: var(--font-size-ul);
  list-style: none;
  display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0;
}
