header {
  margin: var(--margin-base);

  .logo {
    padding: 0.5rem 0.4rem 0 0.5rem;
    border: 2px solid var(--purple-base);
    border-radius: 1rem;
  }

  ul {
    color: rgb(255, 255, 255);
  }
}
.ia {
    display: flex;
    margin-left: .5rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    & p {
    text-transform: uppercase;
    color: var(--purple-base);
    font-weight: 800;
  }
}
