a:hover {
  color: #8f26f1;
}

.lista ul {
  list-style: none;
  gap: 3rem;
}

.lista ul li {
  transition: all 0.25s ease-in-out;
}

lista ul li:hover {
  background-color: black;
  transform: scale(1.1);
}

.lista {
  margin-left: auto;
  text-transform: uppercase;
}

@media (width < 1250px) {
  .lista {
    display: none;
  }
}