section:nth-of-type(2) {
    margin: 0;


    background: linear-gradient(to ellipse,
            #000000 0%,
            #2a003f 50%,
            #8A2BE2 100%);
    color: white;
    padding: 4rem 2rem;

}