.flex {
  display: flex;
  align-items: center;
}





.btn {
  background-color: var(--purple-base);
  padding: 1.9rem 2.9rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background-color: #430081;
}


.gap-3 {
  gap: 3rem;
}

.separator {
  border: 1px solid var(--purple-base);
  max-width: 70px;
  margin: 2rem 0;
}

strong {
  color: var(--purple-base);
}
