.flex {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.conect {
  padding: 1.3rem 3rem;
}

a {
  text-decoration: none;
  color: inherit;
  font: var(--ff-base);
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.gap-3 {
  gap: 3rem;
}

.separator {
  margin: 1rem 0rem 1rem 0rem;
  max-width: 980px;

  height: 2px; 
  border: none;
  background: radial-gradient(
    ellipse at center,
    rgba(137, 43, 226, 0.349) 0%,
    rgba(137, 43, 226, 0.781) 50%,
    rgba(138, 43, 226, 0.0) 100%
  );
}

strong {
  color: var(--purple-base);
}